.git
.svn
.idea
.gradle
.DS_Store
*.iml
*.settings
*.classpath
*.gitignore
*.project
.gitignore
target
/target/
*/target/
logs
/logs/
*/logs/
log
/log/
*/log/
classes
/classes/
*/classes/
out
/out/
*/out/
/test/
*/test/
dependency-reduced-pom.xml
